doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/main.js')
    script(type='text/javascript' src='/javascripts/js.cookie.min.js')
  body(onload="loaded()")
    block content
