doctype html
html
  head
    title=title
	|
    link(rel='stylesheet', href='/stylesheets/style.css')
	|
    script(type='text/javascript' src='/javascripts/main.js')
	|
    script(type='text/javascript' src='/javascripts/js.cookie.min.js')
	|
	meta(name='google-site-verification', content='3IT7IDHKsYWHUmUs8fLPpo1p7TTD8dVYbnXz1dMsyTU')
  body(onload="loaded()")
    block content
