body
	padding 50px
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background #000
	color #FFF
a
	color #FFF
	text-decoration none
th
	padding 8px
td
	padding 2px 8px
td:first-child
	padding-right 100px
	color #9b99c1
.wiki
	margin-left 5px

table
	font-size 9pt
	for i in 4..7
		td:nth-child({i})
			color: #000
.heading
	text-align center
	padding 0


.extend
	font-size 12pt