body {
  padding: 20px 45px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color: #fff;
}
h2 {
  margin-top: 40px;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #ccc;
  text-decoration: underline;
}
th {
  padding: 8px;
  text-align: left;
}
td {
  padding: 2px 8px;
  transition: color 0.5s ease;
}
td:first-child {
  color: #9b99c1;
  padding-right: 100px;
}
.wiki {
  margin-left: 5px;
}
table {
  font-size: 9pt;
}
table.hideResults td:nth-child(4) {
  color: #000;
}
table.hideResults td:nth-child(5) {
  color: #000;
}
table.hideResults td:nth-child(6) {
  color: #000;
}
table.hideResults td:nth-child(7) {
  color: #000;
}
.heading {
  position: absolute;
  top: 15px;
  right: 45px;
}
.extend {
  font-size: 12pt;
}
.showAll {
  margin-left: 10px;
  color: #999;
  cursor: pointer;
}
