body {
  padding: 20px 45px;
  font-family: Calibri;
  background: #000;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #ccc;
  text-decoration: underline;
}
th {
  padding: 8px;
  text-align: left;
}
td {
  padding: 2px 8px;
  transition: color 0.5s ease;
}
td:first-child {
  color: #9b99c1;
  padding-right: 100px;
}
.wiki {
  margin-left: 5px;
}
.heading {
  position: absolute;
  top: 15px;
  right: 45px;
  text-align: right;
}
.heading h3 a {
  cursor: pointer;
}
.donthide,
.paddedT {
  font-size: 16pt;
}
.donthide a,
.paddedT a {
  font-size: 12pt;
}
.showAll {
  font-size: 12pt;
  margin-left: 10px;
  color: #999;
  cursor: pointer;
}
.getRecord {
  cursor: pointer;
}
sup a {
  font-weight: bold;
  cursor: help;
}
.fightResult {
  text-align: center;
  color: #eee !important;
  padding-right: 0 !important;
  font-size: 0.8rem;
}
.hideResults .fightResult {
  color: #000 !important;
}
.hideResults .fighter {
  color: #fff !important;
}
.fighter {
  transition: color 0.5s ease;
}
.fighter sup {
  color: #fff !important;
}
.winner .fighter {
  color: #74b374;
}
.loser .fighter {
  color: #c15555;
}
.draw .fighter {
  color: #ffe29e;
}
.hidden p > *:not(.donthide),
.hidden > *:not(.donthide) {
  display: none;
}
.hide {
  display: none;
}
.padded {
  padding-left: 30px;
  padding-bottom: 20px;
}
.paddedT {
  padding-left: 15px;
}
.linet {
  text-decoration: line-through;
}
input[type=text] {
  margin-left: 10px;
  width: 15px;
  text-align: center;
}
.via {
  color: #fff;
  cursor: pointer;
  font-size: 9pt;
}
.viaSpoiler {
  color: #000;
}
.hideResults .viaDesc {
  color: #000;
}
.showResults .via,
table.showResults .viaSpoiler {
  display: none;
}
td.showResults .viaSpoiler {
  color: #fff !important;
}
.finishRate.active {
  cursor: pointer;
}
.finishRate {
  font-size: 10pt;
  margin-left: 10px;
  color: #999;
}
.fotn {
  font-size: 12pt;
  color: #000;
  background: #fff;
  font-weight: bold;
  padding: 1px 6px;
  margin-left: 5px;
  border-radius: 5px;
}
.hideResults .fotn {
  display: none;
}
table.showResults .fotn,
.showFotn .fotn {
  display: inline-block !important;
}
@media (max-width: 1080px) {
  body {
    padding: 15px;
  }
  div p {
    font-size: 1.5rem;
  }
  table {
    width: 95%;
  }
  table td {
    font-size: 1.5rem;
  }
  .fightResult {
    font-size: 1.2rem;
  }
  h2:first-of-type {
    margin-top: 120px;
  }
}
